<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Core Dashboard</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1><pre>{{ instance }}</pre> Dashboard</h1>
    {% if logged_in %}
        Hello {{ user.email }}! You are logged in!
        <a href="/logout">LOGOUT</a>
    {% else %}
        <a href="/login">LOGIN</a>
    {% endif %}
    <hr>
    {% for notebook in user.notebooks %}
    <div>
        <h3>{{ notebook.name }}</h3>
        <div><small>{{ notebook.url }}</small></div>
        <ul>
            {% for note in notebook.notes %}
                <li>
                    {{ note }}
                    <button class="delete-note" data-url="{{ notebook.url }}" data-index="{{ forloop.counter0 }}">X</button>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <input data-url="{{ notebook.url }}"><button class="add-note">ADD NOTE</button>
    </div>
    {% endfor %}
    <!-- Use React they said... drowning in boilerplate code -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function(){
            $('button.delete-note').on('click', function(){
                console.log('Deleting', $(this).data('url'));
            });
            $('button.add-note').on('click', function(){
                var input = $(this).prev('input');
                console.log('Adding', input.data('url'), input.val());
                input.val('');
            });
        });
    </script>
</body>
</html>
